body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 70px;
  margin:0;
  padding:0;
}

.jumbotron{
  padding:50px;
  text-align: center;
  min-height: 400px;
  font-weight: bold;
  background-image: url("../img/depauwStill.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  color:white;
}
.jumbotron p, .jumbotron h1 {
  margin-top:60px;
}
select {
  text-align: center;
  text-align-last:center;
}

#select-location-container {
  padding-bottom:30px;
}

#footer {
  padding:20px;
  font-weight: bold;
  text-align: center;
}
